<h1>blocitoff</h1>

<h2>Your very own to-do list</h2>

<% if false %>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
<% end %>

<div class="row">
  <div class="col-md-4">
    <h2>Keeps you married</h2>
    <p>You wont forget about your kids anymore.</p>
  </div>
  <div class="col-md-4">
    <h2>Never miss trash day</h2>
    <p>Your neighbors will thank you.</p>
  </div>
  <div class="col-md-4">
    <h2>People will thank you</h2>
    <p>Trust me.</p>
  </div>
</div>
