
@import "bootstrap";


// Variables //

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

// Notice Stying //

#notice-wrapper {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
  z-index: 999;
	vertical-align: center;
	.notice-wrapper {
		text-align: center;
		vertical-align: center;
	}
  .notice, .alert {
    margin: 0;
    text-align: center;
    vertical-align: center;
    padding: 3rem auto;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
  }
}

.alert {
  margin: 0 auto;
  margin-bottom: 0;
  text-align: center;
}

#user {
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: 300;
  margin-top: 3rem;
	opacity: 0.5;
}

// Global Styles //

* {
	box-sizing: border-box;
}

body {
 	height: 100%;
  background: #7aabf9;
  font-family: 'Lato', sans-serif;
}

textarea {
	height: 4rem !important;
}

input[type="text"], textarea {
  width: 100%;
	height: auto;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, 0.4);
  border: none;
  border-radius: 4px;
  padding: 1em 2em;
}

input[type="email"], textarea {
	width: 100%;
	height: auto;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250, 250, 250, 0.4);
	border: none;
	border-radius: 4px;
	padding: 1em 2em;
}

input[type="password"], textarea {
  width: 100%;
	height: auto;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, 0.4);
  border: none;
  border-radius: 4px;
  padding: 1em 2em;
}

input[type="submit"] {
	background: rgba(250,250,250,.4);
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	color: #007bff;
	cursor: pointer;
		&:hover {
			background: #FFFFFF;
		}
}

.container {
	background: $white_opaque;
  width: 65%;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
	h1,h2 {
		text-align: center;
		color: #FFFFFF;
	}
}

.wrapper {
  margin: 3rem auto;
  padding-top: 1rem;

	.container {
		padding: 2rem;
	}
}

#app-title {
  text-align: center;
  font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

.login {
  text-align: center;
}

#footer-log-out {
  text-align: right;
	padding-top: 2rem;
	margin: 0 2rem;
	a {
		font-size: 1.5rem;
	}
	.list {
		float:left;
	}
	.logout {
		float:right;
	}
}

.links {
	display: block;
  text-decoration: none;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 1.2rem;
	color: white;
	a {
		color: white;
	}
}

// List Styles //

.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  margin-bottom: 1.5rem;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.todo_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 1.3rem;
	color: #FFFFFF;
	font-weight: 300;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 1.2em;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
	}
}

.forms {
	padding: 0 5%;
	h1,h2 {
		color: #FFFFFF;
		text-align: center;
	}
}

#todo_items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		.complete {
			width: 10%;
			float: left;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
			padding: 1.5rem;
		}
		.todo_item {
			width: 80%;
			float: left;
			p {
				margin: 0;
				color: #FFFFFF;
				font-weight: 300;
				font-size: 1.3rem;
			}
		}
		.trash {
			width: 10%;
			float: left;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1.5rem;
		}
		i {
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: #FFFFFF;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding: 0 5%;
	}
}



.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	p {
		font-weight: 300;
	}
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

#todo_items_wrapper {
	padding-left: 2rem;
	.row .todo_item p {
    margin: 0 auto;
    padding: 1em;
    color: #FFFFFF;
    font-weight: 300;
	}
	.row i {
    color: white;
    transition: all .4s ease-in-out;
		&:hover {
				color: #007bff;
			}
	}
}
