
$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

body {
 	height: 100%;
  background: #7aabf9;
  font-family: 'Lato', sans-serif;
}

.container {
	width: 95%;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

#user {
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: 100;
}

#notice {
  color: green;
}

#app-title {
  text-align: center;
  font-weight: 700;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

#footer-log-out {
  text-align: right;
  margin-right: 2rem;
}

.link-left {
  text-decoration: none;
  margin-left: 2rem;
  color: white;
  a {
		color: white;
	}
}

.links {
	display: block;
  text-decoration: none;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
	a {
		color: white;
	}
}

.todo_list_title {
	text-align: center;
	font-size: 3.5rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
	a {
		text-decoration: none;
		color: white;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.todo_list_description {
	text-align: center;
	font-size: 2.2rem;
	text-transform: uppercase;
	color: white;
	margin: 0;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

.form-stuff {
		margin-top: 2em;
		padding: 0 5%;
		input[type="text"] {
			width: 72%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 40px;
			border-radius: 4px;
			padding: 1em 2em;
		}

		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			width: 25%;
			display: inline-block;;
			cursor: pointer;
		}
	}
